<BsNavbar
@type="light"
  @justified={{false}}
  @stacked={{false}}
  @fill={{false}} 
@backgroundColor="warning"
 as |navbar|>
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "index" class="navbar-brand pl-3" }}
      Selling Stuff{{/link-to}}
  </div>
  <navbar.content class="navbar-right">
    <navbar.nav as |nav|>
      <nav.item>
        <nav.link-to @route="index">Sell</nav.link-to>
      </nav.item>
    </navbar.nav>
  </navbar.content>
</BsNavbar>