<NavBar />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                {{#each rootCategories as |category|}}
                <li class="list-group-item">{{category.name}}
                    <ul class="list-group">
                        {{#each category.children as |child|}}
                        <li class="list-group-item">{{child.name}}</li>
                        {{/each}}
                    </ul>
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="col-md-9">
            {{outlet}}
        </div>
    </div>
</div>